body {
  font-family: Calibri, sans-serif;
  background: #828282;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: rgb(70, 70, 70);
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0042f6;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
button:hover { background: #461ff5; }
.hidden { display: none; }
ul { list-style: none; padding: 0; }
li { margin: 8px 0; padding: 8px; background: #f9f9f9; border-radius: 6px; }

ul li {
  color: black;
}
